//  top bar light blue color
$sinbad:            #98d2cb;

//  white
$white:             #ffffff;

//  nav color
$nav-bgd:           #fea397;

//  main colors
$grey-main:         #f8f8f8;
$grey-text:         #a9a9a9;
$green-blue:        #9cd4cd;
$nav-hover:         #eff0eb;
$box-hover-1:       #90cdc5;
$box-hover-4:       #cbc8c9;
$owl-dot:           #9d9088;
$owl2-dot:          #c6c6c6;
$square-1:          #98d2cb;
$border-grey:       #e6e7e4;
$border-light-grey: #e6e6e6;
//  inputs colors
$search-field:      #000000;
$form-color:        #dddddd;

//  text colors
$black-text:        #1f1d1d;
$grey-slider-text:  #777777;
$grey-description:  #2a2a2a;
