/* ================================================================
   Fonts variables
   ================================================================ */

$amaticsc-bold: 'AMATICSC-BOLD', Tahoma, Verdana, sans-serif;
$amaticsc-regular: 'AMATICSC-REGULAR', Tahoma, Verdana, sans-serif;
$sweet-pea: 'SWEET PEA', Tahoma, Verdana, sans-serif;
$young-italic: 'YOUNG ITALIC', Tahoma, Verdana, sans-serif;
$young: 'YOUNG', Tahoma, Verdana, sans-serif;

$bp-xl: 1200px;
$bp-lg: 980px;
$bp-md: 768px;
$bp-sm: 360px;